fastapi
uvicorn
scikit-learn
tpot
flaml
h2o
joblib
pandas
matplotlib
seaborn
sentence-transformers
torch
openpyxl
chardet
imbalanced-learn
scikit-learn-extra
transformers
accelerate
bitsandbytes
requests